{% extends 'base.html' %}

{% block content %}
    <div class="about">
        <span id="about-title">About us</span>
        <hr>
        <span id="about-text">Welcome to Salers - your loyal companion in the world of fashion and style. 
            Established in 2023, we aim to help you express your individuality through sophisticated clothing and accessories. 
            Our goal is to provide you with high-quality and stylish solutions for your wardrobe. 
            We are constantly evolving and expanding our range to cater to your fashion needs. 
            Join our community of fashion enthusiasts and discover how to shine in any outfit. 
            Thank you for choosing Salers for your style!</span>
    </div>
{% endblock %}

